.container
	%p{style:"color:blue"}=@permits[:search]
	%br/
	.pagination-centered= will_paginate @permits[:permittees]
	%br/
	%table.table.table-striped
		%tr
			%th Licensee
			%th Business Name
			%th Phone #
			%th License type
			%th License number
			%th Freshness Date
		-@permits[:permittees].each do |permittee|
			%tr
				%td=permittee[:licensee_full_name]
				%td=permittee[:licensee_business_name]
				%td=permittee[:licensee_phone]
				%td=permittee[:licensee_license_kind]
				%td=permittee[:licensee_license_number]
				%td=permittee[:freshness_date]
