.container
	- provide(:title, 'Search | Contractors')
	%p{style:"color:blue"}=@permits[:search_message]
	%br/
	.pagination-centered= will_paginate @permits[:permittees], params:{action:"contractors"}
	%br/
	%table.table.table-striped
		%tr
			%th Licensee
			%th Business Name
			%th Phone #
			%th License type
			%th License number
		-@permits[:permittees].each do |permittee|
			%tr
				%td=permittee[:full_name]
				%td=permittee[:business_name]
				%td=permittee[:phone]
				%td=permittee[:license_type]
				%td=permittee[:license_number]

